<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Todo lo que quieras comprar</h1>
            <h3 class="mb-5">
                <em>Cualquier cosa xD</em>
            </h3>
            <a href="/signin" class="btn btn-primary"> Registrate y disfruta de nuestros beneficios</a>
        </div>
    </header>
</main> 